---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=<weather_hidden_key>&q=29.671210,-82.307720
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/23/2023 17:19:41'
      Cdn-Edgestorageid:
      - '876'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - f99d26587ae98e3fa4d848ed58a50256
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Gainesville","region":"Florida","country":"United
        States of America","lat":29.67,"lon":-82.31,"tz_id":"America/New_York","localtime_epoch":1695489536,"localtime":"2023-09-23
        13:18"},"current":{"last_updated_epoch":1695489300,"last_updated":"2023-09-23
        13:15","temp_c":28.3,"temp_f":82.9,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":5,"wind_dir":"N","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.0,"precip_in":0.0,"humidity":43,"cloud":0,"feelslike_c":28.9,"feelslike_f":84.0,"vis_km":16.0,"vis_miles":9.0,"uv":8.0,"gust_mph":4.9,"gust_kph":7.9},"forecast":{"forecastday":[{"date":"2023-09-23","date_epoch":1695427200,"day":{"maxtemp_c":32.7,"maxtemp_f":90.9,"mintemp_c":19.2,"mintemp_f":66.6,"avgtemp_c":26.0,"avgtemp_f":78.8,"maxwind_mph":4.0,"maxwind_kph":6.5,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":52.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":7.0},"astro":{"sunrise":"07:18
        AM","sunset":"07:25 PM","moonrise":"03:31 PM","moonset":"12:31 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"52","is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1695441600,"time":"2023-09-23
        00:00","temp_c":24.6,"temp_f":76.3,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":358,"wind_dir":"N","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.0,"precip_in":0.0,"humidity":48,"cloud":0,"feelslike_c":25.5,"feelslike_f":77.9,"windchill_c":24.6,"windchill_f":76.3,"heatindex_c":25.5,"heatindex_f":77.9,"dewpoint_c":12.8,"dewpoint_f":55.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.9,"gust_kph":12.7,"uv":1.0},{"time_epoch":1695445200,"time":"2023-09-23
        01:00","temp_c":23.8,"temp_f":74.8,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":355,"wind_dir":"N","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.0,"precip_in":0.0,"humidity":50,"cloud":0,"feelslike_c":25.1,"feelslike_f":77.2,"windchill_c":23.8,"windchill_f"[...]
