---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=<weather_hidden_key>&q=29.671210,-82.307720
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/25/2023 17:59:11'
      Cdn-Edgestorageid:
      - '876'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 9e9398e5120b8c37afb0eb4af7109f86
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Gainesville","region":"Florida","country":"United
        States of America","lat":29.67,"lon":-82.31,"tz_id":"America/New_York","localtime_epoch":1695664750,"localtime":"2023-09-25
        13:59"},"current":{"last_updated_epoch":1695663900,"last_updated":"2023-09-25
        13:45","temp_c":31.1,"temp_f":88.0,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":70,"wind_dir":"ENE","pressure_mb":1018.0,"pressure_in":30.07,"precip_mm":0.0,"precip_in":0.0,"humidity":57,"cloud":100,"feelslike_c":31.4,"feelslike_f":88.5,"vis_km":16.0,"vis_miles":9.0,"uv":8.0,"gust_mph":3.1,"gust_kph":5.0},"forecast":{"forecastday":[{"date":"2023-09-25","date_epoch":1695600000,"day":{"maxtemp_c":35.1,"maxtemp_f":95.2,"mintemp_c":21.1,"mintemp_f":70.1,"avgtemp_c":27.3,"avgtemp_f":81.2,"maxwind_mph":5.6,"maxwind_kph":9.0,"totalprecip_mm":8.45,"totalprecip_in":0.33,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":63.0,"daily_will_it_rain":1,"daily_chance_of_rain":88,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":6.0},"astro":{"sunrise":"07:19
        AM","sunset":"07:23 PM","moonrise":"05:13 PM","moonset":"02:46 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"74","is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1695614400,"time":"2023-09-25
        00:00","temp_c":25.1,"temp_f":77.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":136,"wind_dir":"SE","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.0,"precip_in":0.0,"humidity":60,"cloud":0,"feelslike_c":26.3,"feelslike_f":79.3,"windchill_c":25.1,"windchill_f":77.2,"heatindex_c":26.3,"heatindex_f":79.3,"dewpoint_c":16.7,"dewpoint_f":62.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.9,"gust_kph":14.4,"uv":1.0},{"time_epoch":1695618000,"time":"2023-09-25
        01:00","temp_c":24.5,"temp_f":76.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":150,"wind_dir":"SSE","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.0,"precip_in":0.0,"humidity":62,"cloud":0,"feelslike_c":25.9,"feelslike_f":78.6,"windchill_c":24.5,"windchill_[...]
